<%- include('partials/secretheader') %>

<div class="jumbotron text-center">

  <h2>My Profile</h2>

  <div class="container">
    <div class="row">
      <div class="col-md-6 img">
        <img src="//style.anu.edu.au/_anu/4/images/placeholders/person.png"  alt="place holder" class="img-rounded">
      </div>
      <div class="col-md-6 details">
        <blockquote>
          <h3><%=record.name%></h3>
          <small><cite title="Source Title">Address: <%=record.address%> <i class="icon-map-marker"></i></cite></small>
        </blockquote>
        <h6>Email Id: <%=record.id%></h6>
        <small>Company: <%=record.company%></small><br>
        <small>DOB: <%=record.dob%></small><br>
        <small>Link: <%=record.link%></small><br>
        <small>Phone Number: <%=record.phoneNumber%></small><br>
      </div>
    </div>
  </div>

  <a type="button" href="/editdetails" class="btn btn-sm btn-outline-dark"><i class="fa fa-edit"></i>Edit</a>


</div>

<!-- <script>
  selected = JSON.parse(sessionStorage.getItem("selected"));
  $("#selectedName").html(selected.label);
</script> -->


<%- include('partials/footer') %>
